@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inclusive Sans", sans-serif;
}
a {
  text-decoration: none;
  color: #5d5e5e;
  margin: 20px;
}
li {
  list-style: none;
}

.dom {
  color: #6a635a;
}
.header-container {
  background-color: #ebebeb;
  height: 500px;
}
.ul-navbar {
  list-style: none;
  display: flex;
  justify-content: center;
}
.navbar-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  line-height: 22px;
}
.navbar-hover:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: #333;
  transition: left 0.8s;
}
.navbar-hover:hover:after {
  left: 0;
}
.header-body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 18px;
}
.cup-coffee {
  width: 400px;
  height: 400px;
}
.container-main-text {
  padding: 28px;
  margin: 28px 0 28px 0;
  text-align: right;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.main-img {
  width: 300px;
  height: 300px;
}
.texto-h2 {
  padding: 16px;
  text-align: center;
  align-items: center;
}
.influencers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
  text-align: center;
}
.influencer-items {
  padding: 12px;
}
.title-map {
  padding: 12px;
}
.iframe-coffee {
  width: 600px;
  height: 400px;
}
.iframe-google {
  margin: 28px 0 28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.class-img {
  height: 300px;
  width: 300px;
}
.services-title {
  padding-top: 22px;
}
.course-list {
  padding: 12px;
}

.publicidad {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publicidad-img {
  height: 440px;
  width: 300px;
}
.video-publicidad {
  width: 560px;
  height: 320px;
}

footer {
  background-color: #ebebeb;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-text {
  margin: 10px;
}
.footer-img {
  width: 30px;
}

@media (max-width: 768px) {
  .header-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cup-coffee {
    width: 300px;
    height: 300px;
  }
  .container-main-text {
    flex-direction: column-reverse;
  }
  .text-header {
    padding-top: 32px;
    text-align: center;
  }
  .title-main {
    font-size: 30px;
  }
  .text-h2 {
    font-size: 20px;
  }
  .class-img {
    height: 200px;
    width: 200px;
  }
  .iframe-coffee {
    width: 300px;
    height: 250px;
  }
  .publicidad {
    flex-direction: column;
  }
  .video-publicidad {
    width: 300px;
    height: 200px;
  }
  .publicidad-img {
    padding: 22px;
    width: 250px;
    height: 350px;
  }
}
